<%# Паршал отображения объявлений %>
<div class="ad shadow p-3 mb-5 bg-white rounded">
  <div class="ad-content">
    <div class="ad-text">
      <%= link_to ad.title, ad_path(ad) %>
    </div>

    <div class="text-muted">
      <%= l(ad.created_at, format: :short) %>
    </div>

    <div class="ad-statistics">
      <%= link_to "@#{ad.user.username}", user_path(ad.user) %>
    </div>

    <%# Рендерим теги для конкретного объявления %>
    <div class="text-muted">
      <%= render ad.tags %>
    </div>
  </div>
</div>
