<!--Паршал отображения объявлений-->
<div class="ad">
  <div class="ad-content">
    <div class="ad-text text-lead">
      <%= link_to ad.title, ad_path(ad)  %>
    </div>

    <div class="text-small">
      <%= l(ad.created_at, format: :short) %>
    </div>

    <div class="user-statistics">
      <%= link_to "@#{ad.user.username}", user_path(ad.user) %>
    </div>

<!--    ссылка тег-->
    <div class="ad-hashtags">
      <%= ad.tags.map { |h| link_to "##{h.name}", tag_path(h) }.join(', ').html_safe %>
    </div>
  </div>
</div>
