<!--Паршал отображения объявлений-->
<div class="ad">
  <div class="ad-content">
    <div class="ad-text text-lead">
      <%= link_to ad.title, ad_path(ad)  %>
    </div>

    <div class="text-small">
      <%= ad.created_at.strftime('%Y-%m-%d %H:%M:%S') %>
    </div>

    <div class="user-statistics">
      <%= link_to "@#{ad.user.username}", user_path(ad.user) %>
    </div>
  </div>
</div>
