<div class="text-lead user-ads buffer-both">
  <%= @ad.title %>
</div>

<% if current_user_can_edit?(@ad) %>
  <div class="ad-actions">
    <%= link_to t('views.ads.show.edit'), edit_ad_path(@ad) %>
    <%= link_to t('views.ads.show.delete'), ad_path(@ad),
                method: :delete, data: {confirm: t('views.ads.show.confirm_delete')} %>
  </div>
<% end %>
