<h1><%= t('views.users.edit.edit_user') %></h1>

<%= render 'form' %><br>

<!--Ссылка на смену пароля текущего залогиненного юзера (этот путь генерит девайз)-->
<%= link_to t('views.users.edit.change_password'), edit_user_registration_path %>
