<div class="buffer-both">
  <h1>Пользователи</h1>
</div>

<div class="button button-light button-small buffer-both">
  <%= link_to 'Новый пользователь', new_user_path %>
</div>

<table>
  <thead>
  <tr>
    <th>Username</th>
    <th>Email</th>
  </tr>
  </thead>
  <tbody>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.username %></td>
      <td><%= user.email %></td>
      <td class="button"><%= link_to 'Показать', user %></td>
    </tr>
  <% end %>
  </tbody>
</table><br>
