<!--Рендерим все объявления с тегом-->
<div class="buffer-both">
  <div class="title-medium">
    <%= t('views.tags.show.title', tag_name: @tag.name) %>
  </div>

  <% @ads.each do |ad| %>
    <%= render partial: 'ads/ad', object: ad %>
  <% end %>
</div>
