.ad {
  background: white;
  border-radius: 10px 0;
  box-shadow:3px 3px 10px #0c0c0c;
}

.ad-content {
  padding: 10px 15px;
}

.ad + .ad {
  margin-top: 20px;
}

.ad-text {
  margin-bottom: 10px;
  font-size: 20px;
  color: #005a55;
}

.ad-actions {
  font-size: 20px;
  border-top: 1px solid #D9E6E5;
  text-align: right;
  padding: 10px 15px;
}

.ad-info {
  position: relative;
  color: white;
  overflow: hidden;
  margin-bottom: 20px;
}

.ad-background {
  position: absolute;
  width: 100%;
  z-index: -1;

  top: 0; bottom: 0;
  left: 0; right: 0;

  background-size: cover;
  background-position: center;

  filter: blur(5px);
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
}

.ad-statistics {
  padding-top: 10px;
  margin-top: 10px;
  border-top: 1px solid #D9E6E5;
}
body {
  font-family: "Trebuchet MS", "Open Sans", sans-serif !important;
  background: #b1b1b5;
}

a {
  text-decoration: none;
  color: #005a55;
}

a:hover {
  text-decoration: none;
  color: #013734;
}
