.ads-list {
  padding: 10px 0;
}

.ad {
  background: white;
}

.ad-content {
  padding: 10px 15px;
}

.ad + .ad {
  margin-top: 10px;
}

.ad-text,
.ad-answer {
  margin-bottom: 10px;
}

.ad-text {
  color: #005a55;
}

.ad-date {
  color: #a0a0a0;
  font-size: 12px;
}

.ad-actions {
  font-size: 20px;
  border-top: 1px solid #D9E6E5;
  text-align: right;
  padding: 10px 15px;
}

.ad-actions a {
  margin-left: 10px;
}

.ad-info {
  position: relative;
  color: white;
  overflow: hidden;
  margin-bottom: 20px;
}

.ad-background {
  position: absolute;
  width: 100%;
  z-index: -1;

  top: 0; bottom: 0;
  left: 0; right: 0;

  background-size: cover;
  background-position: center;

  filter: blur(5px);
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
}

.ad-description * {
  color: white;
}

.ad-description a {
  color: #d0d0ff;
}

.ad-description small {
  color: #e0e0e0;
}

.ad-info-inner {
  background:rgba(0, 0, 0, 0.4);
}
