.hashtags-cloud {
  text-align: center;
  padding-top: 20px;
  min-height: 80px;
  width: 650px;
  margin: auto;
}

.display-inline {
  display: inline;
}

.content-left {
  float: left;
}

.content-right {
  float: right;
}
